a
{
    font-family: Verdana;
    background-color:aqua;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

a:hover
{
    background-color: rgb(62, 18, 165);
}
