<body>
<button class="btn btn-light" (click)="this.goBack()">Back</button>
<h2>Add Food Details</h2>

<div>
<p>Food Name:</p>
    <input #title class="title">
</div>
<div>
<p>Description:</p>
    <textarea #description class="description"></textarea>
</div>
<div>
<p>Quantity:</p>
    <input size=2 min=0 max=100 #score type="number" class="score">
</div>
<div>
<p>Price in Rupees</p>
  <input #genre class="genre">
</div>
<div>
<p>Image:</p>
    <input type="file" #image class="image" (change)="detectFiles($event)" accept=".png,.jpg,.jpeg">
</div>

<br>
<button (click)="saveItem(title.value, description.value, score.value, genre.value)">Submit</button>
</body>
